@import "tailwindcss";

* {
  font-family: "Prompt", sans-serif;
}

html::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

@custom-variant dark (&:where(.dark, .dark *));
